body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.avatar {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("https://source.unsplash.com/nKC772R_qog");
}

.avatar::before,
.avatar::after {
  --scale: 0;
  --arrow-size: 5px;
  --tooltip-color: #333;

  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transform-origin: bottom center;
  transition: transform 50ms;
}

.avatar::before {
  --translate-y: calc(-100% - var(--arrow-size));

  padding: 10px;
  width: max-content;
  border-radius: 4px;
  text-align: center;
  color: white;
  content: attr(data-tooltip);
  max-width: 100%;
  background: var(--tooltip-color);
}

.avatar:hover::before,
.avatar:hover::after {
  --scale: 1;
}

.avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
